@media (min-width: 1400px) and (max-width: 1600px) {

    .wsus__banner_img {
        left: 20px;
    }

    .wsus__banner_img .img_1 {
        width: 450px;
        height: 450px;
    }

    .wsus__banner_img p {
        top: 120px;
        left: 15px;
    }

    .wsus__banner_img .img_2 {
        width: 200px;
        height: 200px;
        bottom: 20px;
        left: -10px;
    }

    .wsus__post_review {
        margin-top: 25px;
    }

    .wsus__menu_cart_area ul li .menu_cart_text {
        width: 70%;
    }

    .wsus__menu_description_area .wsus__single_comm_text {
        width: 80%;
    }

    .wsus__menu_cart_area_btn a {
        width: 48%;
    }

    .wsus__single_team_img {
        height: 300px;
    }

}


@media (min-width: 1200px) and (max-width: 1399.99px) {

    /* home page start */
    .wsus__banner_img {
        left: 0px;
    }

    .wsus__banner_img .img_1 {
        width: 400px;
        height: 400px;
    }

    .wsus__banner_img p {
        font-size: 38px;
        top: 120px;
        left: auto;
        width: 150px;
        height: 150px;
        right: 0;
    }

    .wsus__banner_img .img_2 {
        width: 180px;
        height: 180px;
        bottom: 50px;
        left: 10px;
    }

    .wsus__offer_text {
        width: 70%;
    }

    .wsus__offer_text h2 {
        font-size: 36px;
    }

    .wsus__single_blog_text ul li {
        font-size: 12px;
    }

    .wsus__track_item h4 {
        font-size: 18px;
    }

    .wsus__banner_text h1 {
        font-size: 54px;
    }

    /* home page end */


    .wsus__offer_small .wsus__offer_text {
        width: 75%;
    }

    .wsus__partner_reg_form .form-check-label {
        width: 98%;
    }

    .wsus__single_comm_text {
        width: 83%;
    }

    .wsus__related_blog ul li .text {
        width: 68%;
    }

    .wsus__contact_img {
        height: 635px;
    }


    /* store details start */
    .wsus__store_det_header .map {
        width: 410px;
    }

    .wsus__store_det_search form {
        width: 50%;
    }

    /* store details end*/


    /* track details start */
    .wsus__track_header_text ul li {
        min-width: 170px;
    }

    /* track details end */


    /* menu details start */
    .wsus__menu_details_text h2 {
        font-size: 30px;
    }

    .wsus__menu_cart_header h3 {
        font-size: 16px;
    }

    .wsus__post_review {
        margin-top: 25px;
    }

    .wsus__menu_cart_area ul li .menu_cart_text {
        width: 74%;
    }

    .wsus__menu_cart_area_btn a {
        width: 100%;
        margin-top: 10px;
    }

    .details_size .form-check label,
    .details_extra_item .form-check label {
        max-width: 45%;
    }

    /* menu details end */
}


@media (min-width: 992px) and (max-width: 1199.99px) {

    /* home page start */
    .wsus__banner_img {
        left: 0;
    }

    .wsus__banner_img .img_1 {
        margin-left: auto;
        width: 380px;
        height: 380px;
    }

    .wsus__banner_img .img_2 {
        left: 10px;
        bottom: 100px;
        width: 200px;
        height: 200px;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }

    .wsus__banner_img p {
        top: 120px;
        left: 180px;
        width: 140px;
        height: 140px;
        font-size: 40px;
    }

    .wsus__track_order {
        padding: 0;
    }

    .wsus__offer_text {
        width: 65%;
    }

    .wsus__offer_area {
        padding: 60px;
    }

    .wsus__offer_text h2 {
        font-size: 30px;
    }

    .wsus__offer_text h5 {
        font-size: 16px;
    }

    .wsus__support_item {
        padding-bottom: 30px;
    }

    .wsus__footer_logo_area,
    .wsus__footer_link {
        margin-bottom: 50px;
    }

    .wsus__footer_link h4,
    .wsus__footer_app_subdcribe h4 {
        margin-bottom: 0px;
    }

    .wsus_copyright_area {
        margin-top: 45px !important;
    }

    .wsus__footer_app_subdcribe form {
        margin-right: 50px;
    }

    .wsus__banner_text h1 {
        font-size: 52px;
    }

    .wsus__footer_app_subdcribe ul li a {
        margin-top: 5px;
    }

    .wsus__single_store_img {
        height: 300px;
    }

    /* home page end */


    /* 404 start */
    .wsus__breadcrumb_overlay {
        padding: 180px 0px 105px 0px;
    }

    /* 404 end */


    /* about page start */
    .wsus__about_img {
        margin-top: 20px;
    }

    .wsus__single_counter_text p {
        font-size: 14px;
    }

    .wsus__single_counter_icon {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }

    .wsus__single_counter_text h3 {
        font-size: 33px;
    }

    .wsus__single_counter_text h3::after {
        font-size: 33px;
    }

    .wsus__single_counter_text.feedback h3::after {
        font-size: 27px;
    }

    /* about page end */


    /* become a partner start */
    .wsus__partner_reg_overlay {
        padding: 40px;
    }

    .wsus__partner_reg_top .text h4 {
        margin-top: 15px;
    }

    .wsus__partner_reg_form .form-check-label {
        width: 95%;
    }

    .wsus__partner_reg_form h5 {
        margin-bottom: 15px;
    }

    .wsus__partner_advantage_text h3 {
        font-size: 34px;
        margin-bottom: 20px;
    }

    .wsus__work h3 {
        font-size: 30px;
    }

    .wsus__work_single_img {
        height: 350px;
    }

    .wsus__work_single_text {
        padding: 20px;
    }

    .wsus__work_single_text h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    /* become a partner end */

    /* blog details start */
    .wsus__blog_details_img {
        height: 350px;
    }

    .wsus__blog_details_text {
        padding: 15px;
    }

    .wsus__blog_details_text h1,
    .wsus__blog_details_text h2 {
        font-size: 24px;
    }

    .wsus__blog_quot_text p span {
        bottom: 40px;
    }

    .wsus__blog_quot_text h4 span {
        margin-left: 0;
        margin-top: 5px;
        display: block;
    }

    .blog_det_button li {
        padding: 20px;
    }

    .blog_det_button li a img {
        height: 110px !important;
    }

    .blog_det_button li a p {
        font-size: 15px;
    }

    .blog_det_button li a p span {
        font-size: 16px;
    }

    .wsus__single_comm_text {
        width: 79%;
        margin-top: 10px;
    }

    .wsus__related_blog ul li .text {
        width: 62%;
    }

    .wsus__blog_categori ul li a {
        font-size: 14px;
    }

    .wsus__blog_categori ul li a span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }

    .wsus__blog_tags ul li a {
        font-size: 14px;
    }

    /* blog details end */

    .wsus__contact_info {
        padding: 0;
    }

    .wsus__contact_form {
        padding: 30px;
    }

    .wsus__contact_img {
        height: 720px;
    }

    .wsus__track_order ul li::before {
        font-size: 25px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        top: -25px;
    }

    .wsus__track_order ul li {
        padding-top: 40px;
        padding-bottom: 10px;
    }


    /* store details start */
    .wsus__store_det_header .map {
        width: 300px;
    }

    .wsus__store_det_search form {
        width: 50%;
    }

    /* store details end*/


    /* track details start */
    .wsus__track_header_text ul li {
        min-width: 160px;
    }

    .wsus__track_header_text ul li span {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }

    .wsus__track_header_text ul li::after {
        top: 25px;
    }

    /* track details end */


    /* menu details start */
    .wsus__menu_details_text h2 {
        margin-top: 30px;
    }

    .menu_det_description ul li,
    .menu_det_description ol li {
        width: 100%;
    }

    .wsus__menu_cart_header h3 {
        font-size: 16px;
    }

    .wsus__post_review {
        margin-top: 25px;
    }

    .wsus__menu_cart_area ul li .menu_cart_text {
        width: 74%;
    }

    .wsus__menu_cart_area_btn a {
        width: 100%;
        margin-top: 10px;
    }

    /* menu details end */
}


@media (min-width: 768px) and (max-width: 991.99px) {

    /* home page start */
    .main_menu {
        height: 60px;
    }

    .menu_fix {
        border-color: var(--colorWhite) !important;
    }

    .navbar-brand {
        max-width: 160px;
        margin-left: 12px;
    }

    .navbar-toggler {
        width: 35px;
        height: 35px;
        background: var(--colorPrimary);
        padding: 0;
        color: var(--colorWhite);
        border-radius: 3px;
        border: none;
        outline: none;
        margin-right: 12px;
        text-align: center;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-toggler .close_icon {
        display: none;
    }

    .navbar-toggler.show .menu_icon {
        display: none;
    }

    .navbar-toggler.show .close_icon {
        display: inline-block;
    }

    .main_menu .container {
        padding: 8px 0px 12px 0px !important;
    }

    #navbarSupportedContent {
        margin-top: 10px;
    }

    .main_menu .navbar-nav {
        line-height: 50px;
        background: var(--colorBlack);
        padding-top: 10px;
    }

    .main_menu .navbar-nav .nav-item {
        justify-content: center;
    }

    .main_menu .wsus__menu_icon {
        border: 0 !important;
        margin: 0 !important;
        background: var(--colorBlack);
        justify-content: center;
        padding: 20px 0px 20px 0px !important;
    }

    .wsus__banner {
        height: auto;
    }

    .wsus__banner_text {
        padding-top: 155px;
    }

    .wsus__banner_text .btn_area button::after {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .wsus__banner_img {
        margin-top: 50px;
        margin-bottom: 225px;
        left: 0;
        display: block;
    }

    .wsus__banner_img .img_1 {
        margin-left: auto;
    }

    .wsus__banner_img .img_2 {
        left: 10px;
        bottom: -130px;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }

    .wsus__banner_img p {
        top: 100px;
        left: 70px;
    }

    .wsus__heading_area h3 {

        font-size: 28px;

    }

    .wsus__track_order {
        padding: 0;
    }

    .wsus__offer_text {
        width: 70%;
    }

    .wsus__offer_area {
        padding: 40px;
    }

    .wsus__offer_text h2 {
        font-size: 32px;
    }

    .wsus__testimonial_img {
        position: static;
        width: 250px;
        height: 300px;
    }

    .wsus__testimonial_item {
        margin: 0px 12px !important;
    }

    .wsus__testimonial_text {
        padding: 20px 0px 30px 0px !important;
        min-height: auto;
        width: 64%;
    }

    .wsus__testimonial_img::after {
        display: none;
    }

    .wsus__support_item {
        padding-bottom: 30px;
    }

    .wsus__footer_logo_area,
    .wsus__footer_link {
        margin-bottom: 50px;
    }

    .wsus__footer_link h4,
    .wsus__footer_app_subdcribe h4 {
        margin-bottom: 0px;
    }

    .wsus_copyright_text p {
        margin-bottom: 15px;
    }

    .wsus__testimonial_text p {
        padding-top: 0;
    }

    .wsus__testimonial_text p::before {
        display: none;
    }

    .wsus__single_store ul li a {
        padding: 5px 18px;
        font-size: 13px;
    }

    .wsus_copyright_area {
        margin-top: 45px !important;
    }

    .wsus__footer_app_subdcribe form {
        margin-right: 50px;
    }

    .main_menu .wsus__droap_menu {
        max-height: 300px;
        left: 50% !important;
        transform: translateX(-50%) !important;
        -webkit-transform: translateX(-50%) !important;
        -moz-transform: translateX(-50%) !important;
        -ms-transform: translateX(-50%) !important;
        -o-transform: translateX(-50%) !important;
    }

    /* home page end */


    /* 404 start */
    .wsus__breadcrumb_overlay {
        padding: 170px 0px 115px 0px;
    }

    .wsus__404_text img {
        height: auto !important;
        width: auto !important;
    }

    /* 404 end */


    /* about page start */
    .wsus__single_counter {
        margin: 20px 0px;
    }

    .wsus__about_counter_overlay {
        padding-left: 25px;
    }

    .wsus__offer_small {
        padding: 40px;
    }

    .wsus__offer_small .wsus__offer_text {
        width: 75%;
    }

    .wsus__about_video_text h3 {
        font-size: 42px;
        line-height: initial;
    }

    .wsus__about_video_overlay {
        padding: 100px 0px;
    }

    .wsus__about_img {
        margin-top: 20px;
    }

    /* about page end */


    /* become a partner start */
    .wsus__partner_reg_overlay {
        padding: 40px;
    }

    .wsus__partner_reg_form h2 {
        font-size: 28px;
    }

    .wsus__partner_reg_top .text h4 {
        margin-top: 15px;
    }

    .wsus__partner_reg_form .form-check-label {
        width: 98%;
    }

    .wsus__partner_reg_form h5 {
        margin-bottom: 15px;
    }

    .wsus__partner_advantage_text {
        padding: 40px;
    }

    .wsus__partner_advantage_text h3 {
        font-size: 34px;
        margin-bottom: 20px;
    }

    .wsus__partner_advantage_text ul li {
        width: 100%;
    }

    .wsus__work h3 {
        font-size: 30px;
    }

    .wsus__work_single_img {
        height: 340px;
    }

    .wsus__work_single_text {
        padding: 20px;
    }

    .wsus__work_single_text h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    /* become a partner end */

    /* blog details start */
    .wsus__blog_details_text {
        padding: 15px;
    }

    .wsus__blog_details_text h1,
    .wsus__blog_details_text h2 {
        font-size: 24px;
    }

    .wsus__blog_quot_text p span {
        margin-left: -10px;
        bottom: 40px;
    }

    .wsus__blog_quot_text h4 span {
        margin-left: 0;
        margin-top: 5px;
        display: block;
    }

    .blog_det_button li {
        padding: 20px;
    }

    .blog_det_button li a img {
        height: 110px !important;
    }

    .blog_det_button li a p {
        font-size: 16px;
    }

    .blog_det_button li a p span {
        font-size: 16px;
    }

    .wsus__single_comm_text {
        width: 82%;
    }

    .comment_input {
        margin-bottom: 25px;
    }

    .wsus__related_blog ul li .text {
        width: 85%;
    }

    .wsus__blog_det_slider_item {
        height: 200px;
    }

    /* blog details end */

    .wsus__cart_list {
        margin-bottom: 25px;
    }

    /* contact start */
    .wsus__contact_top {
        padding: 0px 40px 40px 40px;
        position: static;
        margin-top: 100px;
    }

    .wsus__contact_info {
        padding: 0;
        margin-top: 40px;
    }

    .wsus__contact_form {
        padding: 25px;
    }

    .wsus__contact_map {
        height: 400px;
    }

    .wsus__contact_img {
        height: 700px;
        width: 400px;
    }

    /* contact end */


    /* dashboard start */
    .wsus__dashboard_content {
        padding: 20px !important;
    }

    .wsus__dashboard_menu {
        border-right: none !important;
    }

    .wsus_dash_personal_info {
        padding-bottom: 5px;
    }

    .wsus__track_order ul li::before {
        font-size: 25px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        top: -25px;
    }

    .wsus__track_order ul li {
        padding-top: 40px;
        padding-bottom: 10px;
    }

    .details_size .form-check label,
    .details_extra_item .form-check label {
        max-width: 40%;
    }

    /* dashboard end */


    .wsus__login_img {
        width: 450px;
    }

    /* store details start */
    .wsus__store_det_header .text {
        width: 65%;
        margin: 30px 0px;
    }

    .wsus__store_det_header .text h3 {
        font-size: 30px;
    }

    .wsus__store_det_header {
        padding: 15px;
    }

    .wsus__store_det_header .map {
        width: 100%;
        height: 330px;
    }

    .wsus__store_det_search form {
        width: 60%;
    }

    .wsus__store_det_search .select_area {
        width: 37%;
    }

    .wsus__all_store_banner {
        height: 350px;
    }

    /* store details end */

    /* wishlist start */
    .wsus__wishlist .wsus__pro_img {
        width: 150px;
        height: 115px;
    }

    .wsus__wishlist .wsus__pro_name {
        width: 260px;
    }

    .wsus__wishlist .wsus__pro_select {
        width: 180px;
    }

    .wsus__wishlist .wsus__pro_status {
        width: 130px;
    }

    .wsus__wishlist .wsus__pro_tk {
        width: 180px;
    }

    /* wishlist end */


    /* menu details start */
    .wsus__menu_details_area {
        padding: 10px;
    }

    .wsus__menu_details_text h2 {
        margin-top: 30px;
    }

    .menu_det_description ul li,
    .menu_det_description ol li {
        width: 100%;
    }

    .wsus__post_review {
        margin: 25px 0px;
    }

    .menu_det_description {
        margin-bottom: 25px;
    }

    .wsus__menu_cart_area ul li .menu_cart_text {
        width: 85%;
    }

    /* menu details end */
    .wsus__track_header_text a {
        margin-top: 40px;
        margin-bottom: 60px;
    }
}


@media (min-width: 576px) and (max-width: 767.99px) {

    /* home page start */
    .main_menu {
        height: 60px;
    }

    .menu_fix {
        border-color: var(--colorWhite) !important;
    }

    .navbar-brand {
        max-width: 160px;
        margin-left: 12px;
    }

    .navbar-toggler {
        width: 35px;
        height: 35px;
        background: var(--colorPrimary);
        padding: 0;
        color: var(--colorWhite);
        border-radius: 3px;
        border: none;
        outline: none;
        text-align: center;
        margin-right: 12px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-toggler .close_icon {
        display: none;
    }

    .navbar-toggler.show .menu_icon {
        display: none;
    }

    .navbar-toggler.show .close_icon {
        display: inline-block;
    }

    .main_menu .container {
        padding: 8px 0px 12px 0px !important;
    }

    #navbarSupportedContent {
        margin-top: 10px;
    }

    .main_menu .navbar-nav {
        line-height: 50px;
        background: var(--colorBlack);
        padding-top: 10px;
    }

    .main_menu .navbar-nav .nav-item {
        justify-content: center;
    }

    .main_menu .wsus__menu_icon {
        border: 0 !important;
        margin: 0 !important;
        background: var(--colorBlack);
        justify-content: center;
        padding: 20px 0px 20px 0px !important;
    }

    .wsus__banner {
        height: auto;
    }

    .wsus__banner_text {
        padding-top: 155px;
    }

    .wsus__banner_text h1 {
        font-size: 48px;
    }

    .wsus__banner_text form {
        border-radius: 5px;
        box-shadow: none;
        border: 0;
        display: block;
    }

    .wsus__banner_text form input {
        border-radius: 4px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .wsus__banner_text .btn_area button {
        border-radius: 4px;
    }

    .wsus__banner_text .btn_area {
        justify-content: space-between;
        width: 100%;
    }

    .wsus__banner_text .btn_area button::after {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .wsus__banner_img {
        margin-top: 50px;
        margin-bottom: 225px;
        left: 0;
        display: block;
    }

    .wsus__banner_img .img_1 {
        width: 380px;
        height: 380px;
        margin-left: auto;
    }

    .wsus__banner_img .img_2 {
        width: 200px;
        height: 200px;
        left: 10px;
        bottom: -130px;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }

    .wsus__banner_img p {
        font-size: 36px;
        top: 100px;
        left: 25px;
        width: 150px;
        height: 150px;
    }

    .wsus__heading_area h3 {
        font-size: 26px;
    }

    .wsus__heading_area a {
        font-size: 15px;
    }

    .wsus__track_order {
        padding: 0;
    }

    .wsus__offer_text {
        width: 70%;
    }

    .wsus__offer_area {
        padding: 35px;
    }

    .wsus__offer_text h2 {
        font-size: 24px;
    }

    .wsus__offer_text h5 {
        font-size: 16px;
    }

    .wsus__testimonial_img {
        position: static;
        width: 300px;
        height: 350px;
    }

    .wsus__testimonial_item {
        display: block;
        margin: 0px 12px !important;
    }

    .wsus__testimonial_text {
        padding: 30px !important;
        /* padding-top: 0 !important; */
        min-height: auto;
    }

    .wsus__testimonial_img::after {
        display: none;
    }

    .wsus__support_item {
        padding-bottom: 30px;
    }

    .wsus__footer_logo_area,
    .wsus__footer_link {
        margin-bottom: 50px;
    }

    .wsus__footer_link h4,
    .wsus__footer_app_subdcribe h4 {
        margin-bottom: 0px;
    }

    .wsus_copyright_text p {
        margin-bottom: 15px;
    }

    .wsus__single_store_img {
        height: 300px;
    }

    .wsus__testimonial_text p {
        padding-top: 0;
    }

    .wsus__testimonial_text p::before {
        display: none;
    }

    .wsus__single_blog_img {
        height: 300px;
    }

    .main_menu .wsus__droap_menu {
        max-height: 300px;
        left: 50% !important;
        transform: translateX(-50%) !important;
        -webkit-transform: translateX(-50%) !important;
        -moz-transform: translateX(-50%) !important;
        -ms-transform: translateX(-50%) !important;
        -o-transform: translateX(-50%) !important;
    }

    /* home page end */


    /* 404 start */
    .wsus__breadcrumb_text h1 {
        font-size: 28px;
    }

    .wsus__breadcrumb_overlay {
        padding: 130px 0px 72px 0px;
    }

    .wsus__breadcrumb_text ul li a {
        font-size: 16px;
    }

    .wsus__404_text img {
        height: auto !important;
        width: auto !important;
    }

    /* 404 end */

    /* about page start */
    .wsus__single_counter {
        justify-content: start;
        margin: 20px 0px;
    }

    .wsus__about_counter_overlay {
        padding-left: 25px;
    }

    .wsus__offer_small {
        padding: 40px;
    }

    .wsus__offer_small .wsus__offer_text {
        width: 75%;
    }

    .wsus__about_video_text h3 {
        font-size: 42px;
        line-height: initial;
    }

    .wsus__about_video_overlay {
        padding: 100px 0px;
    }

    .wsus__about_img {
        margin-top: 20px;
    }

    .wsus__single_team_img {
        height: 270px;
    }

    /* about page end */

    /* become a partner start */
    .wsus__partner_reg_overlay {
        padding: 40px;
    }

    .wsus__partner_reg_form h2 {
        font-size: 20px;
    }

    .wsus__partner_reg_top .text h4 {
        margin-top: 15px;
    }

    .wsus__partner_reg_form .form-check-label {
        width: 97%;
    }

    .wsus__partner_reg_form h5 {
        margin-bottom: 15px;
    }

    .wsus__partner_advantage_text {
        padding: 40px;
    }

    .wsus__partner_advantage_text h3 {
        font-size: 34px;
        margin-bottom: 20px;
    }

    .wsus__partner_advantage_text ul li {
        width: 100%;
    }

    .wsus__work h3 {
        font-size: 30px;
    }

    .wsus__work_single_img {
        height: 270px;
    }

    .wsus__work_single_text {
        padding: 20px;
    }

    .wsus__work_single_text h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .wsus__partner_reg_top .img {
        margin-right: 20px;
    }

    .wsus__partner_reg_top .text {
        width: 60%;
    }

    /* become a partner end */


    /* blog details start */
    .wsus__blog_details_img {
        height: 300px;
    }

    .wsus__blog_details_text {
        padding: 15px;
    }

    .wsus__blog_details_text h1,
    .wsus__blog_details_text h2 {
        font-size: 24px;
    }

    .wsus__blog_quot_text {
        padding: 20px !important;
    }

    .wsus__blog_quot_text .left_icon {
        display: none;
    }

    .wsus__blog_quot_text p span {
        margin-left: -10px;
        bottom: 40px;
    }

    .wsus__blog_quot_text h4 span {
        margin-left: 0;
        margin-top: 5px;
        display: block;
    }

    .blog_tags_share .tags {
        margin-bottom: 10px;
    }

    .blog_det_button li {
        width: 100%;
        padding: 20px;
    }

    .blog_det_button li a img {
        height: 110px !important;
    }

    .blog_det_button li a p {
        font-size: 16px;
    }

    .blog_det_button li a p span {
        font-size: 16px;
    }

    .wsus__single_comm_text {
        width: 100%;
        margin-top: 10px;
    }

    .comment_input {
        margin-bottom: 25px;
    }

    .wsus__related_blog ul li .text {
        width: 80%;
    }

    /* blog details end */

    .wsus__cart_list {
        margin-bottom: 25px;
    }

    /* contact start */
    .wsus__contact_top {
        padding: 0px 40px 40px 40px;
        position: static;
        margin-top: 100px;
    }

    .wsus__contact_info {
        padding: 0;
        margin-top: 40px;
    }

    .wsus__contact_img {
        display: none;
    }

    .wsus__contact_form {
        padding: 40px;
        margin: 0 !important;
    }

    .wsus__contact_map {
        height: 300px;
    }

    /* contact end */


    /* dashboard start */
    .wsus__dashboard_content {
        padding: 20px !important;
    }

    .wsus__dashboard_menu {
        border-right: none !important;
    }

    .wsus_dash_personal_info {
        padding-bottom: 5px;
    }

    .wsus_dashboard_body .wsus__invoice {
        padding: 20px;
    }

    .wsus__track_order ul li::before {
        font-size: 18px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        top: -20px;
    }

    .wsus__track_order ul {
        padding: 10px 0px;
    }

    .wsus__invoice_header .header_address {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .wsus__single_food_img {
        height: 280px;
    }

    .details_size .form-check label,
    .details_extra_item .form-check label {
        max-width: 45%;
    }

    .wsus_dash_personal_info p span {
        width: 100%;
    }

    /* dashboard end */


    /* login start */
    .wsus__login_img {
        display: none;
    }

    .wsus__login_area {
        margin: 0;
        border-radius: 15px;
    }

    /* login end */


    /* store details start */
    .wsus__store_det_header .text {
        width: 100%;
        margin: 30px 0px;
    }

    .wsus__store_det_header .text h3 {
        font-size: 30px;
    }

    .wsus__store_review_modal .wsus__store_img {
        height: auto;
    }

    .wsus__store_det_header {
        padding: 15px;
    }

    .wsus__store_det_header .map {
        width: 100%;
        height: 250px;
    }

    .wsus__store_det_search form {
        width: 100%;
        margin-bottom: 10px;
        border: none;
    }

    .wsus__store_det_search form button {
        padding: 13px 25px;
        position: static;
        width: 100%;
    }

    .wsus__store_det_search form input {
        border: 1px solid #ddd;
        margin-bottom: 10px;
    }

    .wsus__store_det_search .select_area {
        width: 100%;
    }

    .wsus__all_store_banner {
        height: 300px;
    }

    /* store details end */


    /* track order start */
    .wsus__track_header_text ul li span {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }

    .wsus__track_header_text h5 {
        font-size: 18px;
    }

    .wsus__track_header_text h3 {
        font-size: 25px;
    }

    .wsus__track_header_text ul li {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .wsus__track_header_text ul li {
        border-bottom: 1px solid var(--colorPrimary);
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .wsus__track_header_text ul li p {
        margin-top: 0;
        font-size: 16px;
        margin-left: 15px;
    }

    .wsus__track_header_text ul li::after {
        display: none;
    }

    .wsus__track_header_text ul li:last-child {
        border: none;
        margin: 0;
        padding: 0;
    }

    .wsus__track_header_text a {
        margin-top: 25px;
        margin-bottom: 40px;
    }

    .wsus__track_header_map {
        height: 270px;
    }

    .wsus__track_header_text h3,
    .wsus__invoice_area_header h3,
    .wsus__invoice h3 {
        font-size: 24px;
    }

    .simply-amount {
        margin-left: 0;
        margin-right: 10px;
    }

    .wsus__invoice_area_header_text p {
        margin-bottom: 15px;
    }

    .wsus__invoice h3 span {
        font-size: 12px;
    }

    /* track order end */


    /* wishlist start */
    .wsus__wishlist .wsus__pro_img {
        width: 150px;
        height: 115px;
    }

    .wsus__wishlist .wsus__pro_name {
        width: 260px;
    }

    .wsus__wishlist .wsus__pro_select {
        width: 180px;
    }

    .wsus__wishlist .wsus__pro_status {
        width: 130px;
    }

    .wsus__wishlist .wsus__pro_tk {
        width: 180px;
    }

    /* wishlist end */


    /* menu details start */
    .wsus__menu_details_text h2 {
        font-size: 28px;
        margin-top: 30px;
    }

    .menu_det_description ul li,
    .menu_det_description ol li {
        width: 100%;
    }

    .wsus__menu_cart_header h3 {
        font-size: 16px;
    }

    .wsus__post_review {
        margin: 25px 0px;
    }

    .menu_det_description {
        margin-bottom: 25px;
    }

    /* menu details end */
}


@media (max-width: 575.99px) {

    /* home page start */
    .main_menu {
        height: 60px;
    }

    .menu_fix {
        border-color: var(--colorWhite) !important;
    }

    .navbar-brand {
        max-width: 160px;
        margin-left: 12px;
    }

    .navbar-toggler {
        width: 35px;
        height: 35px;
        background: var(--colorPrimary);
        padding: 0;
        color: var(--colorWhite);
        border-radius: 3px;
        border: none;
        outline: none;
        text-align: center;
        margin-right: 12px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-toggler .close_icon {
        display: none;
    }

    .navbar-toggler.show .menu_icon {
        display: none;
    }

    .navbar-toggler.show .close_icon {
        display: inline-block;
    }

    .main_menu .container {
        padding: 8px 0px 12px 0px !important;
    }

    #navbarSupportedContent {
        margin-top: 10px;
    }

    .main_menu .navbar-nav {
        line-height: 50px;
        background: var(--colorBlack);
        padding-top: 10px;
    }

    .main_menu .navbar-nav .nav-item {
        justify-content: center;
    }

    .main_menu .wsus__menu_icon {
        border: 0 !important;
        margin: 0 !important;
        background: var(--colorBlack);
        justify-content: center;
        padding: 20px 0px 20px 0px !important;
    }

    .wsus__banner {
        height: auto;
    }

    .wsus__banner_text {
        padding-top: 155px;
    }

    .wsus__banner_text h1 {
        font-size: 36px;
    }

    .wsus__banner_text form {
        border-radius: 5px;
        box-shadow: none;
        border: 0;
        display: block;
    }

    .wsus__banner_text form input {
        border-radius: 4px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .wsus__banner_text .btn_area button {
        font-size: 13px;
        padding: 10px 25px;
        border-radius: 4px;
    }

    .wsus__banner_text .btn_area {
        justify-content: space-between;
        width: 100%;
    }

    .wsus__banner_text .btn_area button::after {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .wsus__banner_img {
        margin-top: 50px;
        margin-bottom: 100px;
        left: 0;
        display: block;
    }

    .wsus__banner_img .img_1 {
        width: 310px;
        height: 310px;
    }

    .wsus__banner_img .img_2 {
        width: 150px;
        height: 150px;
        position: static;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }

    .wsus__banner_img p {
        font-size: 36px;
        top: 250px;
        left: auto;
        right: 0;
        width: 120px;
        height: 120px;
    }

    .wsus__heading_area h3 {

        font-size: 24px;
    }

    .wsus__heading_area a {
        font-size: 15px;
        margin-top: 10px;
        width: 100%;
    }

    .wsus__track_order {
        padding: 0;
    }

    .wsus__offer_text {
        width: 80%;
    }

    .wsus__offer_area {
        padding: 25px;
    }

    .wsus__offer_text h2 {
        font-size: 20px;
    }

    .wsus__offer_text h5 {
        font-size: 16px;
    }

    .wsus__testimonial_img {
        position: static;
        width: 300px;
        height: 330px;
    }

    .wsus__testimonial_item {
        display: block;
        margin: 0px 12px !important;
    }

    .wsus__testimonial_text {
        padding: 30px !important;
        /* padding-top: 0 !important; */
        min-height: unset;
    }

    .wsus__testimonial_text p {
        padding-top: 0;
    }

    .wsus__testimonial_text p::before,
    .wsus__testimonial_img::after {
        display: none;
    }

    .wsus__testimonial_text h4 {
        font-size: 20px;
    }

    .wsus__support_item {
        padding-bottom: 30px;
    }

    .wsus__footer_logo_area,
    .wsus__footer_link {
        margin-bottom: 50px;
    }

    .wsus__footer_link h4,
    .wsus__footer_app_subdcribe h4 {
        margin-bottom: 0px;
    }

    .wsus_copyright_text p {
        margin-bottom: 15px;
    }

    .wsus__single_store_img {
        height: 200px;
    }

    .wsus__footer_app_subdcribe ul li a {
        margin-top: 10px;
    }

    .wsus_copyright_text span {
        height: auto;
        max-width: unset;
    }

    .main_menu .wsus__droap_menu {
        max-height: 300px;
        left: 50% !important;
        transform: translateX(-50%) !important;
        -webkit-transform: translateX(-50%) !important;
        -moz-transform: translateX(-50%) !important;
        -ms-transform: translateX(-50%) !important;
        -o-transform: translateX(-50%) !important;
    }

    /* home page end */


    /* 404 start */
    .wsus__breadcrumb_text h1 {
        font-size: 28px;
    }

    .wsus__breadcrumb_overlay {
        padding: 120px 0px 60px 0px;
    }

    .wsus__breadcrumb_text ul li a {
        font-size: 16px;
    }

    .wsus__404_text img {
        height: auto !important;
        width: auto !important;
    }

    .wsus__404_text h2 {
        font-size: 24px;
    }

    /* 404 end */


    /* about page start */
    .wsus__about_img .img_2 {
        width: auto;
        height: auto;
    }

    .wsus__about_img .img_1 {
        width: 200px !important;
        height: 250px !important;
    }

    .wsus__about_img .img_1::after {
        right: -12px;
    }

    .wsus__single_counter {
        justify-content: start;
        margin: 20px 0px;
    }

    .wsus__about_counter_overlay {
        padding-left: 25px;
    }

    .wsus__offer_small {
        padding: 25px;
    }

    .wsus__offer_small .wsus__offer_text {
        width: 80%;
    }

    .wsus__about_video_text h3 {
        font-size: 28px;
        line-height: initial;
    }

    .wsus__about_video_overlay {
        padding: 100px 0px;
    }

    .wsus__about_img {
        margin-top: 20px;
    }

    /* about page end */


    /* become a partner start */
    .wsus__partner_reg_overlay {
        padding: 20px;
    }

    .wsus__partner_reg_form h2 {
        font-size: 20px;
    }

    .wsus__partner_reg_top .text h4 {
        margin-top: 15px;
    }

    .wsus__partner_reg_form .form-check-label {
        width: 95%;
    }

    .wsus__partner_reg_form h5 {
        margin-bottom: 15px;
    }

    .wsus__partner_advantage_text {
        padding: 20px;
    }

    .wsus__partner_advantage_text h3 {
        font-size: 26px;
        margin-bottom: 0;
    }

    .wsus__partner_advantage_text ul li {
        width: 100%;
    }

    .wsus__work h3 {
        font-size: 24px;
        margin-bottom: 0;
    }

    .wsus__work_single_img {
        height: auto;
    }

    /* become a partner end */


    /* blog details start */
    .wsus__blog_details_img {
        height: 250px;
    }

    .wsus__blog_details_text {
        padding: 15px;
    }

    .wsus__blog_details_text h1,
    .wsus__blog_details_text h2 {
        font-size: 24px;
    }

    .wsus__blog_quot_text {
        padding: 20px !important;
    }

    .wsus__blog_quot_text .left_icon {
        display: none;
    }

    .wsus__blog_quot_text p span {
        margin-left: -10px;
        bottom: 40px;
    }

    .wsus__blog_quot_text h4 span {
        margin-left: 0;
        margin-top: 5px;
        display: block;
    }

    .blog_tags_share .tags {
        margin-bottom: 10px;
    }

    .blog_det_button li {
        width: 100%;
        padding: 20px;
    }

    .blog_det_button li a img {
        height: 110px !important;
    }

    .blog_det_button li a p {
        font-size: 16px;
    }

    .blog_det_button li a p span {
        font-size: 16px;
    }

    .wsus__single_comm_text {
        width: 100%;
        margin-top: 10px;
    }

    .wsus__single_comm_text h3 span {
        display: block;
        width: 100%;
        margin-top: 5px;
    }

    .comment_input {
        margin-bottom: 25px;
    }

    .wsus__related_blog ul li .text {
        width: 63%;
    }

    .wsus__single_blog_text .title {
        font-size: 20px;
    }

    /* blog details end */


    .wsus__cart_list {
        margin-bottom: 25px;
    }

    .wsus__checkout_form h5 a {
        margin-top: 10px;
    }

    /* contact start */
    .wsus__contact_top {
        padding: 0px 20px 40px 20px;
        position: static;
        margin-top: 100px;
    }

    .wsus__contact_info {
        padding: 0;
        margin-top: 40px;
    }

    .wsus__contact_img {
        display: none;
    }

    .wsus__contact_form {
        padding: 30px;
        margin: 0 !important;
    }

    .wsus__contact_map {
        height: 300px;
    }

    /* contact end */


    /* dashboard start*/
    .wsus_dashboard_new_address,
    .wsus_dashboard_edit_address {
        padding: 15px;
    }

    .wsus__dashboard_area {
        border: none !important;
    }

    .wsus__dashboard_content {
        padding: 20px 0px 0px 0px !important;
    }

    .wsus_dashboard_new_address .form-check,
    .wsus_dashboard_edit_address .form-check {
        margin-right: 10px;
    }

    .common_btn {
        padding: 10px 25px;
    }

    .wsus__dashboard_menu {
        border: 1px solid #292b7517 !important;
        border-bottom: 0 !important;
    }

    .wsus_dash_personal_info {
        padding: 20px 20px 1px 20px;
    }




    .wsus_dashboard_body .wsus__invoice {
        padding: 0;
    }

    .wsus__track_order ul li::before {
        font-size: 18px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        top: -20px;
    }

    .wsus__track_order ul {
        padding: 10px 0px;
    }

    .wsus__invoice_header .header_address {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .wsus__invoice .go_back {
        margin-top: 25px;
    }

    .details_size .form-check label,
    .details_extra_item .form-check label {
        max-width: 70%;
    }

    .wsus_dashboard_body h3 {
        font-size: 20px;
    }

    .wsus_dash_personal_info p span {
        width: 100%;
    }

    /* dashboard ebd*/


    /* login start */
    .wsus__login_img {
        display: none;
    }

    .wsus__login_area {
        padding: 25px;
        margin: 0;
        border-radius: 15px;
    }

    .wsus__login_area h2 {
        font-size: 25px;
    }

    /* login end */


    /* search page start */
    .wsus__search_form form button {
        position: static;
        width: 100%;
        margin-top: 35px;
        padding: 15px 25px;
    }

    .wsus__search_form {
        padding: 20px 20px 0px 20px;
    }

    /* search page end */


    /* store details start */
    .wsus__store_det_header .text {
        width: 100%;
        margin: 30px 0px;
    }

    .wsus__store_det_header .text h3 {
        font-size: 30px;
    }

    .wsus__store_review_modal .wsus__store_img {
        height: auto;
    }

    .wsus__store_det_header {
        padding: 15px;
    }

    .wsus__store_det_header .map {
        width: 100%;
        height: 250px;
    }

    .wsus__store_det_search form {
        width: 100%;
        margin-bottom: 10px;
        border: none;
    }

    .wsus__store_det_search form button {
        padding: 13px 25px;
        position: static;
        width: 100%;
    }

    .wsus__store_det_search form input {
        border: 1px solid #ddd;
        margin-bottom: 10px;
    }

    .wsus__store_det_search .select_area {
        width: 100%;
    }

    .wsus__all_store_banner {
        height: 220px;
    }

    /* store details end */


    /* track order start */
    .wsus__track_header,
    .wsus__invoice_area,
    .wsus__invoice {
        padding: 20px;
    }

    .wsus__track_header_text ul li span {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }

    .wsus__track_header_text h5 {
        font-size: 18px;
    }

    .wsus__track_header_text h3 {
        font-size: 25px;
    }

    .wsus__track_header_text ul li {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .wsus__track_header_text ul li {
        border-bottom: 1px solid var(--colorPrimary);
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .wsus__track_header_text ul li p {
        margin-top: 0;
        font-size: 16px;
        margin-left: 15px;
    }

    .wsus__track_header_text ul li::after {
        display: none;
    }

    .wsus__track_header_text ul li:last-child {
        border: none;
        margin: 0;
        padding: 0;
    }

    .wsus__track_header_text a {
        margin-top: 25px;
        margin-bottom: 40px;
    }

    .wsus__track_header_map {
        height: 230px;
    }

    .wsus__track_header_text h3,
    .wsus__invoice_area_header h3,
    .wsus__invoice h3 {
        font-size: 24px;
    }

    .simply-amount {
        width: 54px;
        height: 54px;
        line-height: 54px;
        font-size: 20px;
        margin-left: 0;
        margin-right: 10px;
    }

    .wsus__invoice_area_header_text p {
        margin-bottom: 15px;
    }

    .wsus__invoice h3 span {
        font-size: 12px;
    }

    /* track order end */


    /* wishlist start */
    .wsus__wishlist .wsus__pro_img {
        width: 150px;
        height: 115px;
    }

    .wsus__wishlist .wsus__pro_name {
        width: 260px;
    }

    .wsus__wishlist .wsus__pro_select {
        width: 180px;
    }

    .wsus__wishlist .wsus__pro_status {
        width: 130px;
    }

    .wsus__wishlist .wsus__pro_tk {
        width: 170px;
    }

    /* wishlist end */


    /* menu details start */
    .wsus__menu_details_area {
        padding: 10px;
    }

    .wsus__menu_details_text h2 {
        font-size: 28px;
        margin-top: 30px;
    }

    .menu_det_description ul li,
    .menu_det_description ol li {
        width: 100%;
    }

    .wsus__menu_cart_area_btn a {
        width: 100%;
        margin-top: 10px;
    }

    .wsus__menu_cart_header h3 {
        font-size: 16px;
    }

    .wsus__post_review {
        margin: 25px 0px;
    }

    .wsus__menu_description_area .nav .nav-item .nav-link {
        font-size: 16px;
    }

    .menu_det_description {
        margin-bottom: 25px;
    }

    /* menu details end */
    .wsus__pagination nav ul li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

}